<div class="my-4">
    <!-- Form tìm kiếm -->
    <partial name="_SearchForm" />

    <!-- Các chuyên mục/ chủ đề -->
    @await Component.InvokeAsync("CategoriesWidget")

    <!-- Top các bài viết nổi bật -->
    @await Component.InvokeAsync("FeaturedPostsWidget")

    <!-- Các bài viết ngẫu nhiên -->
    @await Component.InvokeAsync("RandomPostsWidget")

    <!-- Các tác giả nổi tiếng -->
    @await Component.InvokeAsync("BestAuthorsWidget")

    <!-- Danh sách các bài viết qua 12 tháng vừa qua -->
    @await Component.InvokeAsync("ArchivesWidget")

    <!-- Tag cloud -->
    @await Component.InvokeAsync("TagCloudWidget")

    <!-- Đăng ký nhận tin mới -->
    <button class="btn btn-outline-secondary ">
        <a asp-controller="Newsletter"
           asp-action="Subscribe"
           class="text-black-50">
            Đăng ký nhận tin mới
        </a>
    </button>

    

</div>